/aula2.03/nbproject/private/
/aula3/nbproject/private/
/aula3/build/
/Treino/nbproject/private/
/Treino/build/
/tre.me/nbproject/private/
/Aula04/nbproject/private/
/Aula04/build/
/Atividades/nbproject/private/
/Atividades/build/
/Aula06/nbproject/private/
/Aula06/build/
/UltraEmojiCombat/nbproject/private/
/UltraEmojiCombat/build/
/UltraEmojiCombat/dist/
/ProjetoLivro/nbproject/private/
/ProjetoLivro/build/
/ProjetosPessoas/nbproject/private/
/ProjetosPessoas/build/
/Aula011/nbproject/private/
/Aula011/build/
/Aula12/nbproject/private/
/Aula12/build/